<nav id="sidebar">
    <!-- title -->
    <div class="sidebar-header">
        <h3>{{site.title}}</h3>
    </div>

    <!-- navigation left -->
    <div class="col-left">
        <div class="col-content">halo
            <div class="messages">
                <li>
                    <div class="avatar">
                        <div class="avatar-image">
                            <div class="status online"></div><img src="./img/avatar-2.png">
                        </div>
                    </div>
                    <h3>Nancy Scott</h3>
                    <p>Be there soon.</p>
                </li>
                {% assign itemtags = site.data.tags.tags | sort: 'weight'  %}
                {% for item in itemtags %}
                <li>
                    <div class="avatar">
                        <div class="avatar-image">
                            <div class="status online"></div><img src="{{ relBase }}/assets/avatar/{{item.avatar}}.png">
                        </div>
                    </div>
                    <h3>{{item.title}}</h3>
                    <p>{{item.abbr}}</p>
                </li>
                {% endfor %}
            </div>
        </div>
    </div>
    <ul class="list-unstyled CTAs">
        <li>
            <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
        </li>
        <li>
            <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
        </li>
    </ul>
</nav>