<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
{% include -head.html %}

<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        {% include -sidebar.html %}

        <!-- Page Content Holder -->
        <div id="content">

            {% include -navigation.html %}
            <!-- content message -->
            {{ content }}
        </div>
    </div>

  {% include -footer.html %}

  <!-- end of content    -->


  {% include -footer-js.html %}
</body>

</html>